	body {
    background-color: #FCFCFC;
  }

  #top {
		width: 100%;
		height: 60pt;
    background-color: rgba(157, 20, 31, 0.88);
	}

  h1 {
    font-size: 4em;
    text-align: center;
    font-family: "Copperplate", "Copperplate Gothic Light", sans-serif;
    color: #FACBB7;
    padding-top: 5pt;
  }

  .wrap {
    margin-left: 160pt;
    margin-top: 20pt;
    width: 680px;
    height: 470px;
    background-color: #171716;
    opacity: .8;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: "Copperplate", "Copperplate Gothic Light", sans-serif;
    color: rgba(157, 20, 31, 0.88);
    padding-top: 10pt;
}

p {
    font-family: "Copperplate", "Copperplate Gothic Light", sans-serif;
    color: #FACBB7;
}
  
}

input[type="submit"] {
  -flex: 0 0 110px;
}

.bord {
  font-weight: bold;
  border-radius: 4pt;
  color: whitesmoke;
  background-color:  #3823C1;
}

